html{

}

body {

    }

ul li {
    list-style-type: none;

}
ul.sidebar-menu li {
    list-style-type: none;
    cursor: pointer;
}

/*.sidebar-menu li a, ul.sidebar-menu li a:focus {*/
    /*outline: none;*/
    /*display:block;*/
    /*text-decoration: none;*/
    /*color: darkgrey;*/
/*}*/
/*.selected {*/
    /*background:  blanchedalmond;*/
    /*border: 1px solid #682209;*/

/*}*/
#app-footer {
    clear: both;
    /*background-color: ;*/
    /*border: darkgray 1px solid;*/
    text-align: center;
    padding: 5px;
    font-size: 12pt;
    font-weight: normal;
    color: darkslategray;
    text-shadow: rgba(255, 255, 255, 0.5) 0.3px 0.3px 1px;
    margin: 5px;
}