html{

}

body {
    margin: 0 20px;
    background-color: #E2F0D9;
    }

ul li {
    list-style-type: none;
}

.selectBoxSize {
    width: 200px;
    margin-top: 5px;
}

div a:hover {
    color: #772953;
}

ul.sidebar-menu li {
    list-style-type: none;
    cursor: pointer;
}

.item-image {
    min-width: 100%;
    max-width: 100%;
}

.image-box img {
    max-width: 100%;
    margin: auto;
}

#app-footer {
    clear: both;
    /*background-color: ;*/
    /*border: darkgray 1px solid;*/
    text-align: center;
    padding: 5px;
    font-size: 12pt;
    font-weight: normal;
    color: darkslategray;
    text-shadow: rgba(255, 255, 255, 0.5) 0.3px 0.3px 1px;
    margin: 5px;
}