<div ng-if="ads.numItem == 0">
    <div class="jumbotron">
        <h3>There are currently no ads here.</h3>
    </div>
</div>
<legend class="text-center">My ads</legend>
<div class="text-center">
    <pagination total-items="ads.numItems"
                ng-model="adsParams.startPage"
                items-per-page="adsParams.pageSize"
                ng-change="reloadUserAds()" max-size="9" boundary-links="true">

    </pagination>
</div>
<div class="row">
    <ul>
<li ng-repeat="ad in ads.ads" class="list-unstyled">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default text-center">
        <div class="panel-heading">
            <h3>
                <strong>{{ ad.title }}</strong>
                <span class="pull-right">{{ ad.date | date:'dd-MMM-yyyy' }}</span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img src="" alt="{{ ad.title }}" ng-src="{{ ad.imageDataUrl }}" class="item-image"/>
                </div>
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <div class="well">{{ ad.text }}</div>
                    <ul class="list-group">
                        <li class="list-group-item">Category: {{ ad.categoryName || "(None)" }}</li>
                        <li class="list-group-item">Town: {{ ad.townName || "(None)" }}</li>
                    </ul>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                    Status:
                    <div class="well text-center">{{ ad.status}}</div>
                    <button class="btn btn-block btn-lg btn-danger"
                            ng-if="ad.status != 'Inactive' && ad.status != 'Rejected'"
                            ng-click="deactivateUserAd(ad.id)">Deactivate
                    </button>
                    <div ng-if="ad.status == 'Inactive' || ad.status == 'Rejected'">
                        <a href="#/user/editAd/{{ ad.id }}" class="btn btn-block  btn-info">Edit</a>
                        <button class="btn btn-block  btn-success" ng-click="publishAgainAd(ad.id)">Publish again
                        </button>
                        <a href="#/user/deleteAd/{{ ad.id }}" class="btn btn-block  btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</li>
    </ul>
</div>

