<legend class="text-center">All ads</legend>
<div class="col-md-offset-3 ">
    <pagination total-items="ads.numItems" ng-model="adsParams.startPage"
                items-per-page="adsParams.pageSize" ng-change="reloadAds()"
                max-size="9" boundary-links="true">
    </pagination>
</div>


<ul>
    <li ng-repeat="ad in ads.ads" data-id="{{ad.id}}">
        <div class="well">
            <div class="row" ng-if='ad.imageDataUrl'>
                <div class="col-xs-6 col-md-3">
                    <a href="" class="thumbnail">
                        <img ng-src="{{ad.imageDataUrl}}" alt="..." class="item-image">
                    </a>
                </div>
                <h2>{{ad.title}}</h2>

                <div>Date: {{ad.date | date:'dd-MMM-yyyy'}}</div>
                <div><strong>Text:</strong> {{ad.text}}</div>
                <div><strong>Name:</strong> {{ad.ownerName}}</div>
                <div><strong>Email:</strong> {{ad.ownerEmail}}</div>
                <div><strong>Phone:</strong> {{ad.ownerPhone}}</div>
            </div>
        </div>
    </li>
</ul>
<div ng-if="ads.ads.length==0" class="box no-data">
    No ads found.
</div>
